.content {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
}

.user-info {
    margin-top: 100px;
}

/*
.user-info svg,
.user-info img {
    border: 2px solid black;
    border-radius: 50%;
}
*/

#myChart-container {
    height: 200px;
}

#admin-badge {
    background: rgb(249, 182, 41);
    background: linear-gradient(148deg, rgba(249, 182, 41, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(249, 182, 41, 1) 50%, rgba(255, 255, 255, 1) 70%, rgba(249, 182, 41, 1) 100%);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 35px;
    width: 60px;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
    user-select: none;
    font-family: Tahoma;
}

#edit-button {
    position: absolute;
    left: 170px;
    top: 115px;
    background-color: white;
    padding: 5px;
}

#edit-button:hover {
    position: absolute;
    left: 170px;
    top: 115px;
    background-color: white;
    color:rgb(112, 112, 112);
    border: 2px solid rgb(112, 112, 112);
    padding: 5px;
}