.feed-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: #808080;
    background-image: linear-gradient(#5f5f5f 2px, transparent 2px), linear-gradient(90deg, #5f5f5f 2px, transparent 2px), linear-gradient(#5f5f5f 1px, transparent 1px), linear-gradient(90deg, #5f5f5f 1px, #808080 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    height: 100vh;
}

.main-feed {
    max-width: 70%;
    margin-left: 25%;
    margin-top: 20px;
    display: flex;
    /*
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    */
    overflow-x: hidden;
}

.return-to-top {
    width: 100px;
    height: 20px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    text-align: center;

}

.main-feed-column {
    background-clip: padding-box;
}

.main-feed-post {
    margin: 10px;
    float: left;
}

.post-header {
    margin-bottom: 10px;
}

.MuiCard-root {
    height: fit-content !important;
}

#sidebar {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 0;
    padding: 20px;
    position: fixed;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#profilepic svg,
#profilepic img {
    border: 2px solid black;
    border-radius: 50%;

}

#profilepic svg:hover,
#profilepic img:hover {
    cursor: pointer;
}

[data-tooltip]:before {
    position: absolute;
    content: attr(data-tooltip);
    color: white;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10px;
    width: fit-content;
    text-align: center;
    opacity: 0;
    transition: all 0.2s;
}

[data-tooltip]:hover:before {
    background-color: black;
    opacity: 1;
}

.post-preview:hover {
    cursor: pointer;
}