.feed-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: darkgray;
    height: 100vh;
}

.main-feed {
    max-width: 70%;
    margin-left: 25%;
    margin-top: 20px;
    display: flex;
    /*
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    */
    overflow-x: hidden;
}
.main-feed-column {
    background-clip: padding-box;
}
.main-feed-post {
    margin: 10px;
    float: left;
}
.MuiCard-root {
    height: fit-content !important;
}
#sidebar {
    background-color: lightgrey;
    margin: 0;
    padding: 20px;
    position: fixed;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#profilepic svg,
#profilepic img {
    border: 2px solid black;
    border-radius: 50%;

}

#profilepic svg:hover,
#profilepic img:hover {
    cursor: pointer;
}

[data-tooltip]:before {
    position: absolute;
    content: attr(data-tooltip);
    color: white;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10px;
    width: fit-content;
    text-align: center;
    opacity: 0;
    transition: all 0.2s;
}

[data-tooltip]:hover:before {
    background-color: black;
    opacity: 1;
}

.post-preview:hover {
    cursor: pointer;
}