.newpost-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bg {
    background-image: url('../../img/paper.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.choose-post-type {
    padding: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.16);
}

.btn {
    width: fit-content;
    padding: 20px;
}

[data-backbutton]:before {
    position: fixed;
    left: 88px;
    top: 41px;
    content: attr(data-backbutton);
    color: black;
    padding: 5px;
    text-align: center;
    opacity: 0;
    width: 0px;
    height: 18px;
    transition: width 1s;
    overflow: hidden;
}

[data-backbutton]:hover:before {
    background-color: black;
    color: white;
    width: 150px;
    opacity: 1;
}