.post-details-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-details-post {
    display: flex;
    flex-direction: row;
}

#reply-list {
    align-items: flex-start;
}

#reply-list {
    list-style: none;
}